<div class="container my-3">
  <div class="container-total-center">
    <div class="row">
      <div class="col-12">
        <h1 class="text-secondary">The Arrivals</h1>
      </div>

      <div class="col-md-6 col-sm-12">
        <img
          src="/assets/images/book.jpg"
          class="width-img-book"
          alt="The Arrivals"
        />
      </div>
      <div class="col-12 col-md-6">

          <div class="d-flex flex-column justify-content-between h-100">
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum officiis nisi, voluptatibus quibusdam accusantium eveniet reiciendis suscipit perspiciatis ut maxime ipsam culpa magnam praesentium? Dignissimos est nobis sequi beatae laudantium!
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit est exercitationem, assumenda ut sapiente commodi sit et nesciunt numquam quo laboriosam, animi repudiandae, reprehenderit fugiat eos eius iure natus eaque?

                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fuga temporibus quasi sequi porro voluptatibus, exercitationem voluptatum ex earum totam adipisci dolores ipsum sapiente assumenda deserunt neque odit. Placeat, quasi.
              </p>

              <div>
                  <label class="total-books">Valor Unitario $ 50.000,00</label>
        
                  <br />
        
                  <div class="d-flex">
                    <label class="text-count-book">Cantidad : </label>&nbsp;
                    <input
                      type="number"
                      class="form-control width-count-book"
                      value="1"
                    />
                  </div>
        
                  <hr />
        
                  <div class="d-flex justify-content-between">
                    <h4 class="total-books">Total $ 50.000,00</h4>
        
                    <button class="btn btn-primary">
                      <i class="fas fa-cart-arrow-down"></i>
                      Añadir al carrito
                    </button>
                  </div>
                </div>
          </div>

      </div>
    </div>
  </div>
</div>