.text-count-book
{
    font-weight: bold;
    line-height: 35px;
}
.width-count-book
{
    width: 25%;
}
.container-total-center
{
    margin: 0 15%;
}

.width-img-book {
    width: 100%;
}

.total-container {
    bottom: 0;
    position: absolute;
}

.total-books
{
    color: #176A7D;
    font-weight: bold;
}